* {
  margin: 0;
  padding: 0;
}
.header {
  background-color: rgba(242, 192, 163, 0.948);
  height: 85px;
}
.container .header {
  display: flex;
  justify-content: space-between;
  /* margin-right: 30px; */
}
.container .header h1 {
  color: rgb(185, 8, 8);
  margin-top: 10px;
  font-size: 50px;
  cursor: pointer;
  margin-left: 30px;
  font-family: comic sans MS;
}
.container .header .nav-links {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  list-style: none;
  margin-top: 30px;
  margin-right: 30px;
  font-family: comic sans MS;
}
.middle-title {
  font-family: comic sans MS;
}
.container .header .nav-links a {
  text-decoration: none;
  justify-content: space-around;
  list-style: none;
  color: rgb(26, 21, 21);
  margin-left: 15px;
  font-weight: 600;
  margin-right: 15px;
}
.container .header .nav-links a:hover {
  font-size: 22px;
  color: rgb(14, 203, 39);
  font-weight: 600;
}
.container .middle-nav {
  display: flex;
  font-size: 23px;
  background-color: rgb(200, 193, 193);
}
.container .middle-nav .right-nav {
  width: 35%;
}
.container .middle-nav .left-nav {
  width: 65%;
  padding-right: 8px;
  padding-bottom: 5px;
}
.container .middle-nav .middle-title {
  /* justify-content: center; */
  color: rgb(53, 12, 76);
  /* margin-left: 11rem; */
}
.container .middle-nav .middle-title1 {
  justify-content: center;
  color: rgb(18, 47, 18);
  margin-left: 11rem;
  font-family: comic sans MS;
}
.container .middle-nav .right-para {
  height: 20rem;
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: scroll;
}
.bottom {
  justify-content: center;
  display: flex;
  background-color: skyblue;
  height: 130px;
}
.bottom h3 {
  font-size: 30px;
  margin-top: 35px;
  color: rgb(10, 77, 10);
  font-weight: 600;
  font-family: comic sans MS;
}
.bottom address {
  font-size: 20px;
  font-weight: 600;
  margin-left: 20px;
  margin-top: 45px;
  font-family: comic sans MS;
  color: rgb(9, 9, 94);
}
.middle-img {
  display: flex;
  height: 130px;
  width: 130px;
}
.middle-img img {
  margin-right: 10px;
  width: 11rem;
}
p,
address {
  word-spacing: 15px;
  font-family: comic sans MS;
  font-size: 16px;
}
p {
  padding-bottom: 10px;
}
